<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
        <button ion-button color="primary" (click)="logout()">Logout</button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-header>
    <ion-title>
        <h4>Smartfren Mapping</h4>
    </ion-title>
  <ion-buttons>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      
      <button ion-button icon-only (click)='toggleSearch()'>
          <ion-icon name="search"></ion-icon>
      </button>

      <button ion-button end icon-only (click)='choosePosition()'>
          <ion-icon name="ios-locate-outline"></ion-icon>
      </button>
      
  </ion-buttons>
</ion-header>


<div class="currentitem" *ngIf="currentregional">
  <button ion-item no-lines (click)="viewPlace(currentregional.title)">
    <h2>{{ currentregional.title }}</h2>
    <ion-note item-right icon-only><ion-icon name="ios-arrow-forward"></ion-icon></ion-note>
  </button>
</div>

<ion-content>

  <div class="map" [class.hidemap]="!((switch == 'map') || error)">
    <ion-searchbar #searchbar placeholder="Location" [hidden]="!search"></ion-searchbar>
    <div id="map" #map></div>
  </div>

</ion-content>
